/* Background set :*/
#card-login {
    background-color: #333333;
    width: 400px;
}


/* Element set: */
#login {
   width: 100%;
   background-color: #ff8120;
   border-color: #ff8120;
   color: #fff;
}
#login:hover {
    background-color: #FFC95F;
}